.pricingTable {
  border: 1px solid #dbdbdb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  text-align: center;
  transition: all 0.4s ease-in-out 0s;
}

.pricingTable-header {
  padding: 25px 10px;
  background-color: #fff;
}

.pricingTable .pricingTable-header h3 {
  font-size: 21px;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
  margin-top: 10px;
}

.pricingTable-header span {
  display: block;
  font-size: 12px;
}

.pricing-plans {
  padding: 25px 0;
}

.price-value {
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  font-family: 'Roboto';
}

.price-value i {
  position: absolute;
  top: 3px;
  font-size: 22px;
}

.price-value span {
  font-size: 40px;
  color: #fff;
  /*margin-left: 17px;*/
}

.pricing-plans .month {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  margin-top: 15px;
  font-weight: 100;
}

.pricingContent ul {
  padding: 0 15px;
  margin-bottom: 0;
  list-style: none;
}

.pricingContent ul li {
  padding: 15px 0;
  text-transform: capitalize;
}

.pricingContent ul li:nth-child(even) {
  background-color: #f7f8f4;
}

.pricingTable .pricingTable-sign-up {
  padding: 25px 0;
  border-top: 1px solid #dbdbdb;
}

.btn-block {
  width: 50%;
  margin: 0 auto;
  background: #6c6c6c;
  border: 1px solid #6c6c6c;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  transition: 0.3s ease;
}

.pricingTable .btn-block:hover {
  background: #fff;
  color: #008b8b;
  border: 1px solid #008b8b;
}

.pricingTable.purple .pricing-plans {
  background-color: #b696e9;
}

.pricingTable.yellow .pricing-plans {
  background-color: #e8ae42;
}

.pricingTable.green .pricing-plans {
  background-color: #008b8b;
}

@media screen and (max-width:990px) {
  .pricingTable {
    margin-bottom: 30px;
  }
}

.reviewtitle {
  text-align: center;
  padding-top: 1em;
  padding-bottom: .5em;
  color: white;
}

.couttitle {
  text-align: left;
  padding-top: 1em;
  padding-bottom: .5em;
}

.revtitlebg {
  background: linear-gradient(180deg, rgba(89,0,235,1) 0%, rgba(135,45,240,1) 100%);
}

#review {
  margin-top: 3em;
  text-align: center;
}

#review-form {
  margin-top: 3em;
}

.form-review {
  border: 1px solid rgb(89,0,235);
  padding: 1em;
  border-radius: 20px;
}

.say {
  margin-top: 1em;
  font-weight: bolder;
}

.comsec {
  margin-top: 2em;
  border: 1px solid rgb(89,0,235);
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.comsec2 {
  margin-top: 4em;
}

.posted {
  text-align: left;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

.who {
  margin-bottom: 1em;
}

.posted span {
  font-weight: 700;
}

.contentcom {
  text-align: left;
}

.pagi {
  margin-left: 33.5%;
}

.cart {
  font-size: 15pt;
  margin-top: 5px;
}

.couttitle h2 {
  font-weight: 600;
}

